/*fonts*/
@import url("https://use.typekit.net/lom2fkq.css");

/*colors*/
:root {
    --main-color: #319b86;
    --cta-color: #f2ca5a;
    --link-color: #df573e;
    --link-hover: #f2ca5a;
    --color-5: #f28e4c;
    --main-text-color: #1b3642;
    --secondary-text-color: #b5b5b5;

    --primary-font: "sofia-pro", sans-serif;
    --secondary-font: "cormorant-garamond", serif;
    --special-font: "turbinado-pro", sans-serif;

    --white-space: 1rem;
}

/*body elements*/
body {
    font-family: var(--primary-font);
    top: 0px;
    left: 0px;
}

header {
    width: 100vw;
    height: 80vh;
    background-image: url();
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    z-index: 2;
    position: relative;
}

.header_background {
    width: 100vw;
    height: 80vh;
    background-image: url(img/Home_Image.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.header_background2 {
     width: 100vw;
    height: 70vh;
    background-image: url(img/Background_Curve.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1;
}

nav {
    padding-top: 1rem;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-transform: uppercase;
    align-items: center;
    margin: 0;
}

.header_title {
    width: 40vw;
    padding-left: 2em;
}

.top,
footer {
    text-align: center;
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    border: 1px solid black;
    padding: 2rem;
    width: 15vw;
    height: 15vw;
    margin: 2rem;
}

.block-rec {
    padding: 1rem;
    width: 11vw;
    height: 11vw;
    margin: 2rem;
}

.text-box {
    width: 50vw;
    height: 10vw;
}

footer {
    border: 1px black solid;
    width: 60%;
    height: auto;
    padding: 2rem;
    margin: 0 auto;
}

/*buttons*/
.regular {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font: 500 1.1em/1 var(--primary-font);
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.2s ease;
    cursor: pointer;
    border-style: solid;
    border-radius: 2rem;
    color: white;
    background: var(--cta-color);
    border: 0rem;
}

button:hover {
    transform: scale(1.1);
    color: white;
}

button:active {
    background-color: var(--main-color);
}

input {
    font: 500 var(--primary-font);
    letter-spacing: 1px;
    cursor:text;
    border-style: solid;
    border-radius: 2rem;
    background: white;
    border-color: #707070;
    padding: 0.5rem;
    border: 1px solid;
}

/*
.secondary-button {
    background: rgba(255, 0, 0, 0);
    border-color: var(--cta-color);
    border: 0.2rem;
    border-style: solid;
color: var(--cta-color);}
*/

/*links*/
nav > ul > li > a {
    text-decoration: none;
    color: var(--main-text-color);
}

nav > .ul2 > li > a {
    text-decoration: none;
    color: white;
}

nav > ul > li > a:hover {
    text-decoration: underline;
}

nav > ul > li > a:active {
    text-decoration: line-through;
}

main > section > a {
    font-family: var(--primary-font);
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}

main > section > a {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, var(--link-hover) 50%);
    background-repeat: repeat-x;
    background-position: 0% 70%;
    background-size: 200% 40%;
    transition: background-position 0.5s ease-out;
}

a:hover {
    background-position: -100% 70%;
}

/*text*/
h1 {
    font-family: var(--special-font);
    font-size: 4rem;
    color: var(--main-color);
}

h2 {
    font-family: var(--secondary-font);
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-family: var(--primary-font);
    font-size: 2rem;
    color: #707070;
}

h4 {
    font-family: var(--primary-font);
    color: #707070;
    font-size: 4vw;
    font-weight: 400;
    margin: 1rem;
}

h5 {
    font-family: var(--primary-font);
    color: #ffffff;
    font-size: 4vw;
    font-weight: 400;
    margin: 1rem;
}

p {
    font-family: var(--primary-font);
    line-height: 1.5;
    max-width: 960px;
    font-weight: 300;
    color: #707070;
}

strong {
    font-weight: bold;
}

em {
    font-family: var(--secondary-font);
    font-style: italic;
}

/*images*/
.logo {
    height: 150px;
    width: auto;
}



/*LONNNNNNGG WAIT*/
.productlist{}
#blocksec{}
#productTemplate{}
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productblock{
    background-image: url(img/apps/7-eleven-logo-vector.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 5;
}
/*.block1{}*/
#myButton{}
.img{
    grid-area: img;
    width: 15vw;
    height: 15vw;
    z-index: 1;
}
.product_name{
z-index: 2;
}



.productlist > section {
/*  display: grid;*/
/*  max-width: 1200px;*/
/*  margin: auto;*/
/*  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
/*  grid-gap: 60px;s*/
/*  margin-bottom: 60px;*/
}

img {
    grid-area: img;
/*
  max-width: 100%;
  height: auto;
*/
    width: 15vw;
    height: 15vw;
    z-index: 1;
}

/*
body {
    margin: 0;
}
*/

.productlist > section > h6 {
/*  grid-column: 1/-1;*/
/*  margin-bottom: -40px;*/
}




/* The Modal (background) */
.hide {
    display: none;
}
.modal {
/*    display: none;*/
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}



/* Modal Content/Box */
.modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*
.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}
*/

/*

main{
    width: 900px;
    height: 900px;
    
background: #2a8d7c;
}
*/


/*
.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.featured1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.featured2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
*/

/*
.block1 {
    border: 1px solid black;
    padding: 2rem;
    width: 15vw;
    height: 15vw;
    margin: 2rem;
}
*/



.aside1 {
    grid-area: aside1;
    margin: auto;
}

.aside2 {
    grid-area: aside2;
    margin: auto;
    text-align: center;
}

.product_info {
    grid-area: product_info;
}

.section1 {
    grid-area: section1;
}

.section2 {
    grid-area: section2;
}

/*
h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
*/

.block1 {
    border: 1px solid black;
    padding: 2rem;
    width: 15vw;
    height: 15vw;
    /*    margin: 2rem;*/
    /*    margin: auto;*/
    grid-area: block1;
    background-image: url(img/apps/7-eleven-logo-vector.png);
}




.stars {
padding: inherit;
}


@media only screen and (min-width: 900px) {
    
   
    .product_info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "section1"
            "section2";
        
    }

    .section2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "aside1 aside2";
    }
}

